/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

body{
    width: 100vw;
    color:#707071;
    font-weight: 500;
    line-height:1.6;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    width: 100vw;
    margin: auto;
}

p {
    font-weight: 500;
    line-height: 1.6;
    font-size: 15px;
}
section{
    padding: 30px 70px 30px 70px;
    animation: fadeup 0.8s;
    position: relative;
}

@keyframes fadeup {
    0% { opacity: 0; left:0px; top:200px;}
    100% { opacity: 1; left:0px; top:0px;}
}

/*--------------------------------------------------------------
# NavBar
--------------------------------------------------------------*/

header{
    animation: fadeIn 0.8s;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: flex-start;
    background-color: #dededf;
    padding: 5px 150px 5px 150px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

@keyframes fadeIn {
    0% { opacity: 0; left:0px; top:-200px;}
    100% { opacity: 1; left:0px; top:0px;}
  }

.logo{
    width: 50px;
    height: 50px;
}

li,a{
    font-size: 22px;
    font-weight: 600;
    color:#707071;
    text-decoration: none;
}

.nav-link{
    list-style: none;
    padding: 0px 20px 0px 20px;
    
}

.nav-link li{
    display: inline-block;
}

.nav-link li a{
    padding: 0px 20px 0px 20px;
    transition: 0.5s;
}

.nav-link li a.active{
    color: #918BD7;
}

.nav-link li a:hover{
    color: #918BD7;
}

.nav-link li a:active,.nav-link li a:focus{
    color: #7c75c5;
}

a.contact-me,.btn-submit{
    border: 3px solid #aba5eb;
    font-size: 18px;
    font-weight: 500;
    color:#707071;
    border-radius: 30px;
    padding: 5px 15px 5px 15px;
    margin-left: auto;
    transition: 0.5s;
}

a.contact-me:hover,.btn-submit:hover{
    color:#ffffff;
    background-color:#918BD7;
}

a.contact-me:active,.btn-submit:active{
    color:#ffffff;
    background-color:#7c75c5;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
.container{
    display: flex;
    flex-direction: row;
    margin: auto;
    gap: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 20px;
    border: 3px solid #e0e0f1;
}


/*--------------------------------------------------------------
# Left Side
--------------------------------------------------------------*/
@media (max-width: 800px) {
    section{
        padding: 30px 20px 30px 20px;
        animation: fadeup 0.8s;
        position: relative;
    }
    
    .container {
        display: flex;
        flex-direction: column;
    }

    .left-side{
        order: 2;
        flex: 100%;
        margin: 40px 40px 40px 40px!important;
        display: flex;
        flex-direction: column;
        justify-content:center;
    }
    
    .introduction,.download,.social-icon{
        margin: 0px 0px 0px 0px!important;
    }

    .right-side{
        flex: 100%;
        margin: 40px 0px 0px 0px!important;
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
    }
    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%!important;
    }
    
    .form-group{
        width: 80%!important;
    }
    
    .input-group{
        width: 80%!important;
    }
  }

.left-side{
    flex: 70%;
    margin: 40px 0px 40px 40px;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
}

.introduction{
    margin: 0px 0px 0px 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.title{
    font-size: 30px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.text{
    text-align: justify;
}

.download{
    margin: 0px 0px 0px 40px;
    display: flex;
    flex-direction: row;
}

.contact,.cv-link{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 17px;
    color:#ffffff;
    border: 3px solid #e3e3ec;
    border-radius: 30px;
    background-color:#918BD7;
    height: 35px;
    width: 120px;
    text-decoration: none;
    margin-right: 20px;
    transition: 0.5s;
}

.contact-button:hover,.linkedin:hover,.github:hover,.instagram:hover{
    background-color:#7670c2;
}

.contact-button:active,.linkedin:active,.github:active,.instagram:active{
    background-color:#655eac;
}

.cv{
    font-weight: 600;
    font-size: 17px;
    color: #707071;
    text-decoration: none;
}

.fa-download{
    margin-left: 10px;
    color:#918BD7;
    transition: 0.5s;
}

.fa-download:hover{
    color:#7670c2;
}

.fa-download:active{
    color:#655eac;
}

.social-icon{
    margin: 10px 0px 0px 40px;
    display: flex;
    flex-direction: row;
}

.social{
    display: flex;
    gap: 15px;
}

.linkedin,.github,.instagram{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #918BD7;
    border: 3px solid #e3e3ec;
    color: #ffffff;
    font-size: 18px;
    height: 30px;
    width: 30px;
    border-radius: 30px;
    transition: 0.5s;
}



/*--------------------------------------------------------------
# Right Side
--------------------------------------------------------------*/
.right-side{
    flex: 30%;
    margin: 40px 0px 40px 40px;
    display: flex;
    flex-direction: column;
    justify-content:center;
}

.card{
    width: 16rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 30px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

.photo{
    width: 16rem;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px
}


/*--------------------------------------------------------------
# Get in Touch
--------------------------------------------------------------*/

.container2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
}

.header{
    font-size: 22px;
    padding: 0px;
    margin: 0px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.form-group{
    width: 80%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.input-group{
    width: 80%;
    justify-content: center;
    align-items: center;
    display: flex;
}

input,select,textarea{
    width: 100%;
    padding: 10px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid rgb(224, 203, 203);
    border-radius: 10px;
    transition: 0.5s;
    outline: none;
  }
  
  input:focus,select:focus,textarea:focus {
    border: 3px solid rgb(224, 203, 203);
    border-radius: 10px;
  }

/* input,select,textarea {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid rgb(224, 203, 203);
    border-radius: 10px;
} */

/* input:focus,select:focus,textarea:focus{
    width: 80%!important;
    padding: 10px!important;
    margin-bottom: 20px!important;
    box-sizing: border-box!important;
    border: 1px solid rgb(224, 203, 203)!important;
    border-radius: 10px!important;
} */

.btn-submit{
    margin-top: 20px;
    transition: 0.5s;
}
